## NCAA March Madness Prediction (Pt. 2)

In [9]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

#### Part 1: Importing Clean Teams Data

In [3]:
cleaned_teams = pd.read_csv("data/cleaned_teams.csv")
print(cleaned_teams.columns) 
cleaned_teams.head()

Index(['School', 'W', 'L', 'SRS', 'SOS', 'W.1', 'L.1', 'W.2', 'L.2', 'W.3',
       'L.3', 'Tm.', 'Opp.', 'MP', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA',
       'ORB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'Opp_FG', 'Opp_FGA',
       'Opp_3P', 'Opp_3PA', 'Opp_FT', 'Opp_FTA', 'Opp_ORB', 'Opp_TRB',
       'Opp_AST', 'Opp_STL', 'Opp_BLK', 'Opp_TOV', 'Opp_PF', 'Pace', 'ORtg',
       'FTr', '3PAr', 'TS%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'eFG%', 'TOV%',
       'ORB%', 'FT/FGA', 'Opp_Pace', 'Opp_ORtg', 'Opp_FTr', 'Opp_3PAr',
       'Opp_TS%', 'Opp_TRB%', 'Opp_AST%', 'Opp_STL%', 'Opp_BLK%', 'Opp_eFG%',
       'Opp_TOV%', 'Opp_ORB%', 'Opp_FT/FGA'],
      dtype='object')

,School,W,L,SRS,SOS,W.1,L.1,W.2,L.2,W.3,...,Opp_3PAr,Opp_TS%,Opp_TRB%,Opp_AST%,Opp_STL%,Opp_BLK%,Opp_eFG%,Opp_TOV%,Opp_ORB%,Opp_FT/FGA
0,Abilene Christian,27,7,-1.91,-7.34,14,4,13,2,10,...,0.333,0.529,49.7,46.9,8.3,7.4,0.488,21.5,27.3,0.267
1,Arizona State,23,11,10.28,6.04,12,6,13,3,6,...,0.435,0.525,47.4,54.2,8.8,8.7,0.485,16.7,26.5,0.272
2,Auburn,30,10,20.84,10.92,11,7,15,2,4,...,0.435,0.545,50.8,52.2,8.1,11.7,0.512,21.3,31.7,0.254
3,Baylor,20,14,13.38,9.26,10,8,13,5,5,...,0.382,0.525,45.9,55.6,8.9,12.6,0.491,16.1,28.8,0.249
4,Belmont,27,6,9.12,-2.60,16,2,13,1,12,...,0.352,0.512,47.8,44.9,8.1,9.9,0.484,14.5,24.1,0.188

#### Part 2: Importing Game Data

In [11]:
game_data = pd.read_csv("data/games.csv", dtype={'w_l': str})
print(game_data.shape)
print(game_data.columns)
game_data.head()

(90968, 40)
Index(['team_name', 'game_num', 'date', 'site', 'opp_name', 'w_l', 'pts',
       'opp_pts', 'fg', 'fga', 'fg_per', '3p', '3pa', '3p_per', 'ft', 'fta',
       'ft_per', 'orb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'opp_fg',
       'opp_fga', 'opp_fg_per', 'opp_3p', 'opp_3pa', 'opp_3p_per', 'opp_ft',
       'opp_fta', 'opp_ft_per', 'opp_orb', 'opp_trb', 'opp_ast', 'opp_stl',
       'opp_blk', 'opp_tov', 'opp_pf'],
      dtype='object')

,team_name,game_num,date,site,opp_name,w_l,pts,opp_pts,fg,fga,...,opp_ft,opp_fta,opp_ft_per,opp_orb,opp_trb,opp_ast,opp_stl,opp_blk,opp_tov,opp_pf
0,Abilene Christian Wildcats,1,2013-11-09,Away,Duquesne,L,75,94,22,63,...,27.0,37.000,0.730,10.0,40.0,19.0,4.0,2.0,10.0,22.0
1,Abilene Christian Wildcats,2,2013-11-11,Away,St. Bonaventure,L,47,75,14,40,...,23.0,32.000,0.719,18.0,40.0,15.0,7.0,7.0,9.0,23.0
2,Abilene Christian Wildcats,3,2013-11-13,Away,Maryland,L,44,67,17,54,...,17.0,0.647,12.000,38.0,12.0,9.0,10.0,17.0,8.0,NaN
3,Abilene Christian Wildcats,4,2013-11-17,Away,Iowa,L,41,103,14,54,...,18.0,22.000,0.818,5.0,35.0,25.0,11.0,5.0,5.0,10.0
4,Abilene Christian Wildcats,5,2013-11-19,Away,TCU,L,64,71,19,50,...,24.0,37.000,0.649,8.0,30.0,11.0,7.0,3.0,6.0,20.0